.overlay {
  position: fixed;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: rgba(43, 43, 43, 0.575);
  z-index: -1;
}

.bgWrap {
  position: fixed;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  z-index: -2;
}

.image {
  object-fit: cover;
}
