.modal {
  padding: 20px;
}

.title {
  margin-top: 10px;
}

.about {
  margin-top: 15px;
}

.image {
  margin: 10px;
}

.county {
  text-transform: uppercase;
}

.aboutTitle,
.winesTitle,
.linkTitle {
  font-weight: 650;
}
